@font-face {
  font-family: 'icomoon';
  src:  url('./fonts/icomoon.eot?9wujd1');
  src:  url('./fonts/icomoon.eot?9wujd1#iefix') format('embedded-opentype'),
        url('./fonts/icomoon.ttf?9wujd1') format('truetype'),
        url('./fonts/icomoon.woff?9wujd1') format('woff'),
        url('./fonts/icomoon.svg?9wujd1#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-he-login:before {
  content: "\eacc";
}
.icon-information:before {
  content: "\eacb";
}
.icon-report:before {
  content: "\eaca";
}
.icon-Optimal:before {
  content: "\eac6";
}
.icon-Exclusive:before {
  content: "\eac7";
}
.icon-Professional:before {
  content: "\eac8";
}
.icon-Promotional:before {
  content: "\eac9";
}
.icon-blacklis:before {
  content: "\eac4";
}
.icon-remove:before {
  content: "\eac5";
}
.icon-poundage:before {
  content: "\eac3";
}
.icon-lock:before {
  content: "\eac2";
}
.icon-bill:before {
  content: "\ea48";
}
.icon-even-more:before {
  content: "\eac0";
}
.icon-more2:before {
  content: "\eabf";
}
.icon-remit:before {
  content: "\eabe";
}
.icon-backdrop:before {
  content: "\eaba";
}
.icon-design9:before {
  content: "\ea8d";
}
.icon-zoom:before {
  content: "\ea8e";
}
.icon-size:before {
  content: "\ea91";
}
.icon-pattern:before {
  content: "\eab8";
}
.icon-history:before {
  content: "\eab9";
}
.icon-assist:before {
  content: "\eabb";
}
.icon-adaptive:before {
  content: "\eabc";
}
.icon-coverage:before {
  content: "\eabd";
}
.icon-cart-02 .path1:before {
  content: "\ea64";
  color: rgb(58, 58, 58);
}
.icon-cart-02 .path2:before {
  content: "\ea65";
  margin-left: -1em;
  color: rgb(66, 147, 239);
}
.icon-cart-02 .path3:before {
  content: "\ea6f";
  margin-left: -1em;
  color: rgb(66, 147, 239);
}
.icon-dupin-01 .path1:before {
  content: "\ea70";
  color: rgb(58, 58, 58);
}
.icon-dupin-01 .path2:before {
  content: "\ea71";
  margin-left: -1.005859375em;
  color: rgb(58, 58, 58);
}
.icon-dupin-01 .path3:before {
  content: "\ea72";
  margin-left: -1.005859375em;
  color: rgb(58, 58, 58);
}
.icon-dupin-01 .path4:before {
  content: "\ea73";
  margin-left: -1.005859375em;
  color: rgb(58, 58, 58);
}
.icon-dupin-01 .path5:before {
  content: "\ea74";
  margin-left: -1.005859375em;
  color: rgb(89, 165, 230);
}
.icon-pics-01 .path1:before {
  content: "\ea75";
  color: rgb(58, 58, 58);
}
.icon-pics-01 .path2:before {
  content: "\ea79";
  margin-left: -1em;
  color: rgb(58, 58, 58);
}
.icon-pics-01 .path3:before {
  content: "\ea7a";
  margin-left: -1em;
  color: rgb(58, 58, 58);
}
.icon-pics-01 .path4:before {
  content: "\ea7c";
  margin-left: -1em;
  color: rgb(89, 165, 230);
}
.icon-tshirt-01 .path1:before {
  content: "\ea7d";
  color: rgb(58, 58, 58);
}
.icon-tshirt-01 .path2:before {
  content: "\ea8c";
  margin-left: -1em;
  color: rgb(66, 147, 239);
}
.icon-amazon3 .path1:before {
  content: "\eab6";
  color: rgb(34, 31, 31);
}
.icon-amazon3 .path2:before {
  content: "\eab7";
  margin-left: -2.78125em;
  color: rgb(255, 153, 0);
}
.icon-delete-2:before {
  content: "\eab5";
}
.icon-custom2:before {
  content: "\ea49";
}
.icon-put-in:before {
  content: "\ea85";
}
.icon-terrace:before {
  content: "\ea9a";
}
.icon-synthetic:before {
  content: "\eaaf";
}
.icon-advice:before {
  content: "\ea34";
}
.icon-AliexpressPublishSystem:before {
  content: "\ea35";
}
.icon-back1:before {
  content: "\ea36";
}
.icon-barn:before {
  content: "\ea37";
}
.icon-blacklist:before {
  content: "\ea38";
}
.icon-brand-1:before {
  content: "\ea39";
}
.icon-brand:before {
  content: "\ea3a";
}
.icon-caculate:before {
  content: "\ea3b";
}
.icon-cloud:before {
  content: "\ea3c";
}
.icon-dailyrecord:before {
  content: "\ea3d";
}
.icon-Deals:before {
  content: "\ea3e";
}
.icon-design3:before {
  content: "\ea3f";
}
.icon-discourt:before {
  content: "\ea40";
}
.icon-draw:before {
  content: "\ea41";
}
.icon-enroll:before {
  content: "\ea42";
}
.icon-exclusive:before {
  content: "\ea43";
}
.icon-exposure:before {
  content: "\ea44";
}
.icon-fba1:before {
  content: "\ea45";
}
.icon-fbas-01:before {
  content: "\ea46";
}
.icon-finance:before {
  content: "\ea47";
}
.icon-financemanage:before {
  content: "\ea4b";
}
.icon-lazadalinio-s-01:before {
  content: "\ea4a";
}
.icon-lazadalinio:before {
  content: "\ea4e";
}
.icon-link:before {
  content: "\ea4c";
}
.icon-list-3:before {
  content: "\ea4d";
}
.icon-list-4:before {
  content: "\ea50";
}
.icon-listcomond-02:before {
  content: "\ea4f";
}
.icon-logistics:before {
  content: "\ea53";
}
.icon-material:before {
  content: "\ea51";
}
.icon-mock:before {
  content: "\ea52";
}
.icon-money:before {
  content: "\ea54";
}
.icon-onliestore:before {
  content: "\eac1";
}
.icon-packaging:before {
  content: "\ea55";
}
.icon-pics:before {
  content: "\ea56";
}
.icon-picslist:before {
  content: "\ea57";
}
.icon-poster:before {
  content: "\ea58";
}
.icon-product-design:before {
  content: "\ea59";
}
.icon-product3:before {
  content: "\ea5a";
}
.icon-publish1:before {
  content: "\ea5b";
}
.icon-shop:before {
  content: "\ea5c";
}
.icon-Shopee1 .path1:before {
  content: "\ea5d";
  color: rgb(0, 0, 0);
}
.icon-Shopee1 .path2:before {
  content: "\ea5e";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-Shopee1 .path3:before {
  content: "\ea5f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-SKU:before {
  content: "\ea60";
}
.icon-statistics:before {
  content: "\ea61";
}
.icon-supplier:before {
  content: "\ea62";
}
.icon-traffic:before {
  content: "\ea63";
}
.icon-UPC:before {
  content: "\ea66";
}
.icon-upload:before {
  content: "\ea67";
}
.icon-ww:before {
  content: "\ea68";
}
.icon-xcx1:before {
  content: "\ea69";
}
.icon-youwish-01:before {
  content: "\ea6a";
}
.icon-alarm:before {
  content: "\ea6b";
}
.icon-aliexpresss-01:before {
  content: "\ea6c";
}
.icon-allot:before {
  content: "\ea6d";
}
.icon-amazon2:before {
  content: "\ea6e";
}
.icon-ebay:before {
  content: "\ea7e";
}
.icon-fahuo-01:before {
  content: "\ea7f";
}
.icon-fba:before {
  content: "\ea80";
}
.icon-filter2:before {
  content: "\ea81";
}
.icon-free:before {
  content: "\ea82";
}
.icon-goto:before {
  content: "\ea83";
}
.icon-icon_lazada:before {
  content: "\ea84";
}
.icon-list-1:before {
  content: "\ea86";
}
.icon-list-2:before {
  content: "\ea87";
}
.icon-live:before {
  content: "\ea88";
}
.icon-map-depot1:before {
  content: "\ea89";
}
.icon-next:before {
  content: "\ea8a";
}
.icon-person:before {
  content: "\ea8b";
}
.icon-picsmanage:before {
  content: "\ea99";
}
.icon-power:before {
  content: "\ea9c";
}
.icon-recomend:before {
  content: "\ea9d";
}
.icon-sales:before {
  content: "\ea9e";
}
.icon-self:before {
  content: "\ea9f";
}
.icon-sls-s-01:before {
  content: "\eaa0";
}
.icon-store1:before {
  content: "\eaa1";
}
.icon-storehouse:before {
  content: "\eaa3";
}
.icon-taobao1:before {
  content: "\eaa4";
}
.icon-tianmao:before {
  content: "\eaa5";
}
.icon-top1:before {
  content: "\eaa6";
}
.icon-upcs-01:before {
  content: "\eaa8";
}
.icon-user:before {
  content: "\eaa9";
}
.icon-ww1-s-01:before {
  content: "\eaaa";
}
.icon-xcx2:before {
  content: "\eaac";
}
.icon-exit:before {
  content: "\eaae";
}
.icon-warning1:before {
  content: "\eaad";
}
.icon-SDK:before {
  content: "\eaa7";
}
.icon-major:before {
  content: "\ea98";
}
.icon-specialty:before {
  content: "\ea97";
}
.icon-enjoy1:before {
  content: "\ea96";
}
.icon-warehousing:before {
  content: "\ea95";
}
.icon-professional-edition:before {
  content: "\ea94";
}
.icon-entire:before {
  content: "\ea93";
}
.icon-amazon1:before {
  content: "\ea7b";
}
.icon-back-01:before {
  content: "\ea78";
}
.icon-logo-01:before {
  content: "\ea77";
}
.icon-logo-2-01:before {
  content: "\ea76";
}
.icon-jumia-01-01 .path1:before {
  content: "\ea33";
  color: rgb(6, 5, 8);
}
.icon-jumia-01-01 .path2:before {
  content: "\ea8f";
  margin-left: -3.1650390625em;
  color: rgb(6, 5, 8);
}
.icon-jumia-01-01 .path3:before {
  content: "\ea90";
  margin-left: -3.1650390625em;
  color: rgb(6, 5, 8);
}
.icon-jumia-01-01 .path4:before {
  content: "\ea92";
  margin-left: -3.1650390625em;
  color: rgb(6, 5, 8);
}
.icon-jumia-01-01 .path5:before {
  content: "\ea9b";
  margin-left: -3.1650390625em;
  color: rgb(44, 47, 50);
}
.icon-jumia-01-01 .path6:before {
  content: "\eaa2";
  margin-left: -3.1650390625em;
  color: rgb(44, 47, 50);
}
.icon-jumia-01-01 .path7:before {
  content: "\eaab";
  margin-left: -3.1650390625em;
  color: rgb(43, 46, 49);
}
.icon-jumia-01-01 .path8:before {
  content: "\eab0";
  margin-left: -3.1650390625em;
  color: rgb(6, 5, 8);
}
.icon-jumia-01-01 .path9:before {
  content: "\eab1";
  margin-left: -3.1650390625em;
  color: rgb(247, 153, 46);
}
.icon-FBA:before {
  content: "\ea32";
}
.icon-scan:before {
  content: "\ea31";
}
.icon-box:before {
  content: "\ea30";
}
.icon-default:before {
  content: "\ea2f";
}
.icon-preinstall:before {
  content: "\ea2e";
}
.icon-relevance:before {
  content: "\ea2d";
}
.icon-complete:before {
  content: "\ea2c";
}
.icon-experience:before {
  content: "\ea2b";
}
.icon-tile:before {
  content: "\ea2a";
}
.icon-filter:before {
  content: "\ea29";
}
.icon-style:before {
  content: "\ea28";
}
.icon-Subtract:before {
  content: "\ea27";
}
.icon-Want-want:before {
  content: "\ea26";
}
.icon-field:before {
  content: "\ea25";
}
.icon-tick2:before {
  content: "\ea24";
}
.icon-risk:before {
  content: "\ea23";
}
.icon-Add:before {
  content: "\ea22";
}
.icon-authorization:before {
  content: "\ea21";
}
.icon-product2:before {
  content: "\ea20";
}
.icon-management:before {
  content: "\ea1f";
}
.icon-gallery:before {
  content: "\ea1e";
}
.icon-import:before {
  content: "\ea1d";
}
.icon-top-up:before {
  content: "\ea1c";
}
.icon-background-color:before {
  content: "\ea1b";
}
.icon-designernew:before {
  content: "\ea1a";
}
.icon-fonts:before {
  content: "\ea19";
}
.icon-feedback:before {
  content: "\ea18";
}
.icon-smile:before {
  content: "\ea17";
}
.icon-upload-pictures:before {
  content: "\ea16";
}
.icon-font-color:before {
  content: "\ea15";
}
.icon-carts:before {
  content: "\ea14";
}
.icon-cycle:before {
  content: "\ea13";
}
.icon-x:before {
  content: "\ea12";
}
.icon-more:before {
  content: "\ea11";
}
.icon-cooperation:before {
  content: "\ea10";
}
.icon-product1:before {
  content: "\ea0f";
}
.icon-design1:before {
  content: "\ea0e";
}
.icon-cart2:before {
  content: "\ea0d";
}
.icon-hint1:before {
  content: "\ea0c";
}
.icon-open1:before {
  content: "\ea0b";
}
.icon-close1:before {
  content: "\ea0a";
}
.icon-print:before {
  content: "\ea09";
}
.icon-logo2:before {
  content: "\ea08";
}
.icon-picture-material:before {
  content: "\ea07";
}
.icon-zoomout:before {
  content: "\ea06";
}
.icon-zoomin:before {
  content: "\ea05";
}
.icon-zhiwenshop:before {
  content: "\ea04";
}
.icon-X:before {
  content: "\ea03";
}
.icon-womenT:before {
  content: "\ea02";
}
.icon-women2:before {
  content: "\ea01";
}
.icon-weixing:before {
  content: "\ea00";
}
.icon-WeChat:before {
  content: "\e9ff";
}
.icon-WeChat_pay:before {
  content: "\e9fe";
}
.icon-warning:before {
  content: "\e9fd";
}
.icon-vip_statistical:before {
  content: "\e9fc";
}
.icon-vip_publish:before {
  content: "\e9fb";
}
.icon-vip_order:before {
  content: "\e9fa";
}
.icon-vip_design:before {
  content: "\e9f9";
}
.icon-vip_custom:before {
  content: "\e9f8";
}
.icon-vip_conventional:before {
  content: "\e9f7";
}
.icon-UpPhoto:before {
  content: "\e9f6";
}
.icon-uploading:before {
  content: "\e9f5";
}
.icon-Upload:before {
  content: "\e9f4";
}
.icon-uniE9F3:before {
  content: "\e9f3";
}
.icon-unselected:before {
  content: "\e9f2";
}
.icon-unfurled:before {
  content: "\e9f1";
}
.icon-unfold2:before {
  content: "\e9f0";
}
.icon-undo:before {
  content: "\e9ef";
}
.icon-Underline:before {
  content: "\e9ee";
}
.icon-unauthorised:before {
  content: "\e9ed";
}
.icon-trading_poundage:before {
  content: "\e9ec";
}
.icon-trading_money:before {
  content: "\e9eb";
}
.icon-trading_freight:before {
  content: "\e9ea";
}
.icon-top:before {
  content: "\e9e9";
}
.icon-To-update:before {
  content: "\e9e8";
}
.icon-to-lead:before {
  content: "\e9e7";
}
.icon-Tilt:before {
  content: "\e9e6";
}
.icon-tile_no:before {
  content: "\e9e5";
}
.icon-tile_mirror:before {
  content: "\e9e4";
}
.icon-tile_longitudinal:before {
  content: "\e9e3";
}
.icon-tile_crosswise:before {
  content: "\e9e2";
}
.icon-tile_basic:before {
  content: "\e9e1";
}
.icon-tick:before {
  content: "\e9e0";
}
.icon-TextEdit:before {
  content: "\e9df";
}
.icon-Text2:before {
  content: "\e9de";
}
.icon-Text:before {
  content: "\e9dd";
}
.icon-templet:before {
  content: "\e9dc";
}
.icon-TAG:before {
  content: "\e9db";
}
.icon-t-shirt:before {
  content: "\e9da";
}
.icon-succeed1:before {
  content: "\e9d9";
}
.icon-succeed:before {
  content: "\e9d8";
}
.icon-store:before {
  content: "\e9d7";
}
.icon-shortcut:before {
  content: "\e9d6";
}
.icon-ShoppingCart2:before {
  content: "\e9d5";
}
.icon-shopping-cart:before {
  content: "\e9d4";
}
.icon-shopping_add:before {
  content: "\e9d3";
}
.icon-ShopCart:before {
  content: "\e9d2";
}
.icon-ShopCar:before {
  content: "\e9d1";
}
.icon-Shift:before {
  content: "\e9d0";
}
.icon-share2:before {
  content: "\e9cf";
}
.icon-share:before {
  content: "\e9ce";
}
.icon-services:before {
  content: "\e9cd";
}
.icon-service:before {
  content: "\e9cc";
}
.icon-select:before {
  content: "\e9cb";
}
.icon-search5:before {
  content: "\e9ca";
}
.icon-search3:before {
  content: "\e9c9";
}
.icon-search2:before {
  content: "\e9c8";
}
.icon-search:before {
  content: "\e9c7";
}
.icon-screen_low:before {
  content: "\e9c6";
}
.icon-screen_high:before {
  content: "\e9c5";
}
.icon-save2:before {
  content: "\e9c4";
}
.icon-save:before {
  content: "\e9c3";
}
.icon-ruler:before {
  content: "\e9c2";
}
.icon-Rotate:before {
  content: "\e9c1";
}
.icon-Right2:before {
  content: "\e9c0";
}
.icon-Right:before {
  content: "\e9bf";
}
.icon-Restore:before {
  content: "\e9be";
}
.icon-reminder:before {
  content: "\e9bd";
}
.icon-refresh:before {
  content: "\e9bc";
}
.icon-redo:before {
  content: "\e9bb";
}
.icon-redact22:before {
  content: "\e9ba";
}
.icon-redact2:before {
  content: "\e9b9";
}
.icon-redact1:before {
  content: "\e9b8";
}
.icon-redact:before {
  content: "\e9b7";
}
.icon-record:before {
  content: "\e9b6";
}
.icon-recharge:before {
  content: "\e9b5";
}
.icon-question2:before {
  content: "\e9b4";
}
.icon-question:before {
  content: "\e9b3";
}
.icon-QRCode:before {
  content: "\e9b2";
}
.icon-qq2:before {
  content: "\e9b1";
}
.icon-Prompt:before {
  content: "\e9b0";
}
.icon-product:before {
  content: "\e9af";
}
.icon-printing-subtract2:before {
  content: "\e9ae";
}
.icon-printing-add2:before {
  content: "\e9ad";
}
.icon-previous_page3:before {
  content: "\e9ac";
}
.icon-previous_page:before {
  content: "\e9ab";
}
.icon-pitchon:before {
  content: "\e9aa";
}
.icon-PitchOff:before {
  content: "\e9a9";
}
.icon-pictures:before {
  content: "\e9a8";
}
.icon-Picture:before {
  content: "\e9a7";
}
.icon-Picture_width:before {
  content: "\e9a6";
}
.icon-Photos:before {
  content: "\e9a5";
}
.icon-PhotoEffect:before {
  content: "\e9a4";
}
.icon-photo:before {
  content: "\e9a3";
}
.icon-personalcenter:before {
  content: "\e9a2";
}
.icon-personal:before {
  content: "\e9a1";
}
.icon-pay:before {
  content: "\e9a0";
}
.icon-pay_wechat:before {
  content: "\e99f";
}
.icon-pay_balance:before {
  content: "\e99e";
}
.icon-pay_alipay:before {
  content: "\e99d";
}
.icon-parent-child:before {
  content: "\e99c";
}
.icon-page_trailer:before {
  content: "\e99b";
}
.icon-page_home:before {
  content: "\e99a";
}
.icon-pack-up:before {
  content: "\e999";
}
.icon-pac-man:before {
  content: "\e998";
}
.icon-option:before {
  content: "\e997";
}
.icon-operation_close:before {
  content: "\e996";
}
.icon-operate:before {
  content: "\e995";
}
.icon-none:before {
  content: "\e994";
}
.icon-no:before {
  content: "\e993";
}
.icon-next_page3:before {
  content: "\e992";
}
.icon-next_page:before {
  content: "\e991";
}
.icon-new2:before {
  content: "\e990";
}
.icon-new1:before {
  content: "\e98f";
}
.icon-new:before {
  content: "\e98e";
}
.icon-Narrow:before {
  content: "\e98d";
}
.icon-MyProfile:before {
  content: "\e98c";
}
.icon-Minus:before {
  content: "\e98b";
}
.icon-menu_r:before {
  content: "\e98a";
}
.icon-menu_l:before {
  content: "\e989";
}
.icon-menT:before {
  content: "\e988";
}
.icon-men2:before {
  content: "\e987";
}
.icon-men:before {
  content: "\e986";
}
.icon-medium_risk:before {
  content: "\e985";
}
.icon-map-depot:before {
  content: "\e984";
}
.icon-low_risk:before {
  content: "\e983";
}
.icon-lovers:before {
  content: "\e982";
}
.icon-logo:before {
  content: "\e981";
}
.icon-local:before {
  content: "\e980";
}
.icon-lip:before {
  content: "\e97f";
}
.icon-Left2:before {
  content: "\e97e";
}
.icon-Left:before {
  content: "\e97d";
}
.icon-left-side:before {
  content: "\e97c";
}
.icon-left_arrow:before {
  content: "\e97b";
}
.icon-layer_up:before {
  content: "\e97a";
}
.icon-layer_down:before {
  content: "\e979";
}
.icon-layer_close:before {
  content: "\e978";
}
.icon-label_vip:before {
  content: "\e977";
}
.icon-label_select:before {
  content: "\e976";
}
.icon-label_promotion:before {
  content: "\e975";
}
.icon-label_prerogative:before {
  content: "\e974";
}
.icon-label_honorable:before {
  content: "\e973";
}
.icon-infinite:before {
  content: "\e972";
}
.icon-ideas:before {
  content: "\e971";
}
.icon-NEW:before {
  content: "\e970";
}
.icon-home:before {
  content: "\e96f";
}
.icon-high_risk:before {
  content: "\e96e";
}
.icon-High_quality:before {
  content: "\e96d";
}
.icon-hides:before {
  content: "\e96c";
}
.icon-Help:before {
  content: "\e96b";
}
.icon-Height_maximization:before {
  content: "\e96a";
}
.icon-Girl3:before {
  content: "\e969";
}
.icon-Girl2:before {
  content: "\e968";
}
.icon-Girl:before {
  content: "\e967";
}
.icon-functionkeys:before {
  content: "\e966";
}
.icon-front:before {
  content: "\e965";
}
.icon-Folder_on:before {
  content: "\e964";
}
.icon-Folder_off:before {
  content: "\e963";
}
.icon-fold2:before {
  content: "\e962";
}
.icon-error_explain:before {
  content: "\e961";
}
.icon-Enlarge:before {
  content: "\e960";
}
.icon-Englishinput:before {
  content: "\e95f";
}
.icon-effect:before {
  content: "\e95e";
}
.icon-editor:before {
  content: "\e95d";
}
.icon-edit_field_vertical:before {
  content: "\e95c";
}
.icon-edit_field_top:before {
  content: "\e95b";
}
.icon-edit_field_pattern:before {
  content: "\e95a";
}
.icon-edit_field_horizontal:before {
  content: "\e959";
}
.icon-edit_field_flip:before {
  content: "\e958";
}
.icon-edit_field_bottom:before {
  content: "\e957";
}
.icon-dustbin:before {
  content: "\e956";
}
.icon-drop_down:before {
  content: "\e955";
}
.icon-down1:before {
  content: "\e954";
}
.icon-down:before {
  content: "\e953";
}
.icon-display:before {
  content: "\e952";
}
.icon-Direction:before {
  content: "\e951";
}
.icon-design2:before {
  content: "\e950";
}
.icon-design:before {
  content: "\e94f";
}
.icon-design_upload:before {
  content: "\e94e";
}
.icon-design_shopping:before {
  content: "\e94d";
}
.icon-design_design:before {
  content: "\e94c";
}
.icon-Delete22:before {
  content: "\e94b";
}
.icon-Delete2:before {
  content: "\e94a";
}
.icon-Delete:before {
  content: "\e949";
}
.icon-defeatist:before {
  content: "\e948";
}
.icon-date2:before {
  content: "\e947";
}
.icon-Data_aggregation:before {
  content: "\e946";
}
.icon-custom:before {
  content: "\e945";
}
.icon-custom-made:before {
  content: "\e944";
}
.icon-current:before {
  content: "\e943";
}
.icon-counter:before {
  content: "\e942";
}
.icon-Copy_picture:before {
  content: "\e941";
}
.icon-Computer:before {
  content: "\e940";
}
.icon-color:before {
  content: "\e93f";
}
.icon-collection:before {
  content: "\e93e";
}
.icon-close:before {
  content: "\e93d";
}
.icon-childrenT:before {
  content: "\e93c";
}
.icon-channel:before {
  content: "\e93b";
}
.icon-center3:before {
  content: "\e93a";
}
.icon-center2:before {
  content: "\e939";
}
.icon-center:before {
  content: "\e938";
}
.icon-cart:before {
  content: "\e937";
}
.icon-cancel:before {
  content: "\e936";
}
.icon-camera:before {
  content: "\e935";
}
.icon-Boy3:before {
  content: "\e934";
}
.icon-BoldTilt:before {
  content: "\e933";
}
.icon-Bold:before {
  content: "\e932";
}
.icon-Boby2:before {
  content: "\e931";
}
.icon-Boby:before {
  content: "\e930";
}
.icon-be-defeated1:before {
  content: "\e92f";
}
.icon-Backtothetop:before {
  content: "\e92e";
}
.icon-backlog:before {
  content: "\e92d";
}
.icon-background:before {
  content: "\e92c";
}
.icon-back:before {
  content: "\e92b";
}
.icon-Baby3:before {
  content: "\e92a";
}
.icon-Baby2:before {
  content: "\e929";
}
.icon-Baby:before {
  content: "\e928";
}
.icon-arrows2:before {
  content: "\e927";
}
.icon-arrowhead:before {
  content: "\e926";
}
.icon-arrow-down:before {
  content: "\e925";
}
.icon-arrow_right:before {
  content: "\e924";
}
.icon-arrow_left:before {
  content: "\e923";
}
.icon-Album:before {
  content: "\e922";
}
.icon-Add2:before {
  content: "\e921";
}
.icon-account:before {
  content: "\e920";
}
.icon-capacity:before {
  content: "\e91f";
}
.icon-HOT:before {
  content: "\e91e";
}
.icon-Alipay .path1:before {
  content: "\e91d";
  color: rgb(37, 171, 238);
}
.icon-Alipay .path2:before {
  content: "\eab3";
  margin-left: -2.84375em;
  color: rgb(57, 65, 68);
}
.icon-Alipay .path3:before {
  content: "\eab4";
  margin-left: -2.84375em;
  color: rgb(57, 65, 68);
}
.icon-AliExpress .path1:before {
  content: "\e91c";
  color: rgb(211, 126, 48);
}
.icon-AliExpress .path2:before {
  content: "\eab2";
  margin-left: -3.5em;
  color: rgb(157, 39, 38);
}
.icon-amazon .path1:before {
  content: "\e915";
  color: ;
}
.icon-amazon .path2:before {
  content: "\e916";
  margin-left: -2em;
  color: ;
}
.icon-amazon .path3:before {
  content: "\e917";
  margin-left: -2em;
  color: ;
}
.icon-amazon .path4:before {
  content: "\e918";
  margin-left: -2em;
  color: ;
}
.icon-amazon .path5:before {
  content: "\e919";
  margin-left: -2em;
  color: ;
}
.icon-amazon .path6:before {
  content: "\e91a";
  margin-left: -2em;
  color: ;
}
.icon-amazon .path7:before {
  content: "\e91b";
  margin-left: -2em;
  color: ;
}
.icon-file2 .path1:before {
  content: "\e90f";
  color: rgb(220, 229, 247);
}
.icon-file2 .path2:before {
  content: "\e910";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-file2 .path3:before {
  content: "\e911";
  margin-left: -1em;
  color: rgb(78, 109, 196);
}
.icon-file2 .path4:before {
  content: "\e912";
  margin-left: -1em;
  color: rgb(78, 109, 196);
}
.icon-file2 .path5:before {
  content: "\e913";
  margin-left: -1em;
  color: rgb(78, 109, 196);
}
.icon-file2 .path6:before {
  content: "\e914";
  margin-left: -1em;
  color: rgb(78, 109, 196);
}
.icon-new3 .path1:before {
  content: "\e90b";
  color: rgb(249, 50, 50);
}
.icon-new3 .path2:before {
  content: "\e90c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-new3 .path3:before {
  content: "\e90d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-new3 .path4:before {
  content: "\e90e";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-taobao:before {
  content: "\e90a";
  color: #ff5400;
}
.icon-tmall:before {
  content: "\e909";
  color: #ac0015;
}
.icon-Unionpay .path1:before {
  content: "\e905";
  color: rgb(0, 144, 140);
}
.icon-Unionpay .path2:before {
  content: "\e906";
  margin-left: -1em;
  color: rgb(230, 0, 18);
}
.icon-Unionpay .path3:before {
  content: "\e907";
  margin-left: -1em;
  color: rgb(0, 80, 142);
}
.icon-Unionpay .path4:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-wish:before {
  content: "\e904";
  color: #6cd0f3;
}
.icon-lazada .path1:before {
  content: "\e902";
  color: rgb(42, 67, 82);
}
.icon-lazada .path2:before {
  content: "\e903";
  margin-left: -3.1650390625em;
  color: rgb(227, 103, 42);
}
.icon-Shopee:before {
  content: "\e901";
  color: #e9501e;
}
.icon-corner-mark:before {
  content: "\e900";
}
